[submodule "src/modules/data/ps2alerts-constants"]
	path = src/modules/data/ps2alerts-constants
	url = https://github.com/ps2alerts/constants
	branch = main
[submodule "provisioning/helm"]
	path = provisioning/helm
	url = https://github.com/ps2alerts/helm-charts
	branch = master
